USE [master]
GO
/****** Object:  Database [GogoDB]    Script Date: 03-12-2020 13:04:46 ******/
CREATE DATABASE [GogoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GogoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GogoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GogoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GogoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GogoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GogoDB]
GO
/****** Object:  Table [dbo].[asset]    Script Date: 03-12-2020 13:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset](
	[user_id] [int] NOT NULL,
	[statement_category] [varchar](300) NOT NULL,
	[statement_type] [varchar](300) NOT NULL,
	[statement_month] [date] NOT NULL,
	[statement_value] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[statement_category] ASC,
	[statement_type] ASC,
	[statement_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset_lys]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_lys](
	[user_id] [int] NOT NULL,
	[statement_category] [varchar](300) NOT NULL,
	[statement_type] [varchar](300) NOT NULL,
	[statement_month] [date] NOT NULL,
	[statement_year] [int] NOT NULL,
	[statement_value_lys] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[statement_category] ASC,
	[statement_type] ASC,
	[statement_month] ASC,
	[statement_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[basics]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[basics](
	[ISIN] [varchar](300) NOT NULL,
	[stock_basics_WKN] [varchar](20) NULL,
	[stock_basics_country] [varchar](30) NULL,
	[stock_basics_description] [varchar](450) NULL,
	[stock_basics_website] [varchar](40) NULL,
	[stock_basics_industry] [varchar](40) NULL,
	[stock_basics_quantity] [varchar](300) NULL,
	[stock_basics_performance_month] [float] NULL,
	[stock_basics_performance_year] [float] NULL,
	[stock_basics_dividend] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ISIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cicalc]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cicalc](
	[user_id] [int] NOT NULL,
	[cost_income_desc] [varchar](100) NOT NULL,
	[cost_income_type] [varchar](50) NOT NULL,
	[cost_income_value] [int] NULL,
	[cost_income_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[cost_income_desc] ASC,
	[cost_income_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goal]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goal](
	[user_id] [int] NOT NULL,
	[user_goal_desc] [varchar](200) NOT NULL,
	[user_goal_value] [varchar](300) NULL,
	[user_goal_date] [date] NULL,
	[user_goal_annualasset] [nvarchar](max) NULL,
	[user_goal_longterm] [nvarchar](max) NULL,
	[user_goal_motivationalgoal] [nvarchar](max) NULL,
	[user_goal_savingsrate] [nvarchar](max) NULL,
	[user_goal_savingsvolume] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[user_goal_desc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[score_timeline]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[score_timeline](
	[ISIN] [varchar](300) NOT NULL,
	[stock_score_date] [date] NOT NULL,
	[stock_score2] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ISIN] ASC,
	[stock_score_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[ISIN] [varchar](300) NOT NULL,
	[stock_name] [varchar](50) NULL,
	[stock_score] [int] NULL,
	[stock_groesse] [varchar](300) NULL,
	[stock_waehrung] [varchar](300) NULL,
	[stock_LJ] [int] NULL,
	[stock_RoE_LJ_percent] [decimal](5, 4) NULL,
	[stock_EBIT_Marge_LJ_percent] [decimal](5, 4) NULL,
	[stock_EK_Quote_LJ_percent] [decimal](5, 4) NULL,
	[stock_EPS_LJ_2] [float] NULL,
	[stock_EPS_LJ_1] [float] NULL,
	[stock_EPS_LJ] [float] NULL,
	[stock_EPS_AJ] [float] NULL,
	[stock_EPS_NJ] [float] NULL,
	[stock_Durchschnitt_EPS] [float] NULL,
	[stock_KGV5] [float] NULL,
	[stock_KGV_akt] [float] NULL,
	[stock_Analystenanzahl] [int] NULL,
	[stock_Analystenmeinung] [float] NULL,
	[stock_Marktkap_rounded] [bigint] NULL,
	[stock_Benchmark] [varchar](300) NULL,
	[stock_Entw6Mon_percent] [decimal](5, 4) NULL,
	[stock_Entw1Jahr_percent] [decimal](5, 4) NULL,
	[stock_EPS_Steigerung_percent] [decimal](5, 4) NULL,
	[stock_Punkte_RoE] [int] NULL,
	[stock_Punkte_EBIT_M] [int] NULL,
	[stock_Punkte_EK_Q] [int] NULL,
	[stock_Punkte_KGV5] [int] NULL,
	[stock_Punkte_KGVa] [int] NULL,
	[stock_Punkte_Analysten] [int] NULL,
	[stock_Punkte_Q_Zahlen] [int] NULL,
	[stock_Punkte_Revi] [int] NULL,
	[stock_Punkte_6_Mon] [int] NULL,
	[stock_Punkte_1_Jahr] [int] NULL,
	[stock_Punkte_Momentum] [int] NULL,
	[stock_Punkte_3_Mon_Rev] [int] NULL,
	[stock_Punkte_Gew_Wachst] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ISIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_level]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_level](
	[level_id] [int] NOT NULL,
	[level_name] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[reg_user_name] [varchar](40) NOT NULL,
	[user_password] [varchar](50) NOT NULL,
	[user_mail] [varchar](40) NOT NULL,
	[user_reg_date] [date] NOT NULL,
	[level_id] [int] NOT NULL,
	[user_level_until] [date] NOT NULL,
	[user_guided] [int] NOT NULL,
	[user_country] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[watch_stock]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[watch_stock](
	[user_id] [int] NOT NULL,
	[ISIN] [varchar](300) NOT NULL,
	[user_watch_since] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[ISIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[goal] ([user_id], [user_goal_desc], [user_goal_value], [user_goal_date], [user_goal_annualasset], [user_goal_longterm], [user_goal_motivationalgoal], [user_goal_savingsrate], [user_goal_savingsvolume]) VALUES (2, N'Hope', NULL, CAST(N'2020-12-02' AS Date), N'Have 60 Million in my crypto wallet', N'Give my 200 percent', N'To be on my own and let the world die', N'40', N'200000')
INSERT [dbo].[goal] ([user_id], [user_goal_desc], [user_goal_value], [user_goal_date], [user_goal_annualasset], [user_goal_longterm], [user_goal_motivationalgoal], [user_goal_savingsrate], [user_goal_savingsvolume]) VALUES (4, N'Hope', NULL, CAST(N'2020-11-29' AS Date), N'Have 20 Million', N'10000', N'To be on my own', N'40', N'200000')
GO
INSERT [dbo].[score_timeline] ([ISIN], [stock_score_date], [stock_score2]) VALUES (N'DE000A0HHJR3', CAST(N'2020-09-12' AS Date), 6)
INSERT [dbo].[score_timeline] ([ISIN], [stock_score_date], [stock_score2]) VALUES (N'DE000A0HHJR3', CAST(N'2020-09-13' AS Date), 6)
INSERT [dbo].[score_timeline] ([ISIN], [stock_score_date], [stock_score2]) VALUES (N'DE000A0HHJR3', CAST(N'2020-09-14' AS Date), 7)
GO
SET IDENTITY_INSERT [dbo].[stock] ON 

GO
SET IDENTITY_INSERT [dbo].[stock] OFF
GO
INSERT [dbo].[user_level] ([level_id], [level_name]) VALUES (0, N'Basic')
INSERT [dbo].[user_level] ([level_id], [level_name]) VALUES (1, N'Intermediate')
INSERT [dbo].[user_level] ([level_id], [level_name]) VALUES (2, N'Advanced')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [reg_user_name], [user_password], [user_mail], [user_reg_date], [level_id], [user_level_until], [user_guided], [user_country]) VALUES (2, N'test1', N'test123@', N'test@xyz.com', CAST(N'2020-10-05' AS Date), 0, CAST(N'2020-10-05' AS Date), 1, N'india')
INSERT [dbo].[Users] ([user_id], [reg_user_name], [user_password], [user_mail], [user_reg_date], [level_id], [user_level_until], [user_guided], [user_country]) VALUES (3, N'test1', N'updatePWD23@', N'test2@xyz.com', CAST(N'2020-10-05' AS Date), 0, CAST(N'2020-10-05' AS Date), 1, N'india')
INSERT [dbo].[Users] ([user_id], [reg_user_name], [user_password], [user_mail], [user_reg_date], [level_id], [user_level_until], [user_guided], [user_country]) VALUES (4, N'Priya Sinha', N'asdfsfsd', N'priyasnh735@gamil.com', CAST(N'2020-10-11' AS Date), 0, CAST(N'2020-10-11' AS Date), 1, N'India')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[watch_stock] ([user_id], [ISIN], [user_watch_since]) VALUES (2, N'AT0000A0E9W5', CAST(N'2020-11-28' AS Date))
INSERT [dbo].[watch_stock] ([user_id], [ISIN], [user_watch_since]) VALUES (2, N'DE0005088108', CAST(N'2020-11-28' AS Date))
INSERT [dbo].[watch_stock] ([user_id], [ISIN], [user_watch_since]) VALUES (4, N'DE0005088108', CAST(N'2020-11-28' AS Date))
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[asset_lys]  WITH CHECK ADD FOREIGN KEY([user_id], [statement_category], [statement_type], [statement_month])
REFERENCES [dbo].[asset] ([user_id], [statement_category], [statement_type], [statement_month])
GO
ALTER TABLE [dbo].[basics]  WITH CHECK ADD FOREIGN KEY([ISIN])
REFERENCES [dbo].[stock] ([ISIN])
GO
ALTER TABLE [dbo].[cicalc]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[goal]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[score_timeline]  WITH CHECK ADD FOREIGN KEY([ISIN])
REFERENCES [dbo].[stock] ([ISIN])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([level_id])
REFERENCES [dbo].[user_level] ([level_id])
GO
ALTER TABLE [dbo].[watch_stock]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[watch_stock]  WITH CHECK ADD FOREIGN KEY([ISIN])
REFERENCES [dbo].[stock] ([ISIN])
GO
/****** Object:  StoredProcedure [dbo].[spGetPrivateStock]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetPrivateStock](
@UserId VARCHAR(40),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			Select  st.stock_name as StockName,st.ISIN as ISIN,st.stock_score as StockScore,ws.user_watch_since as FollowedDate from stock st inner join
			watch_stock ws on st.ISIN = ws.ISIN
			and ws.user_id = @UserId

			Select * from goal where user_id = @UserId
		COMMIT;
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spListStocks]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListStocks]
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			SELECT st.ID,st.stock_name as StockName,st.ISIN as ISIN,st.stock_score as StockScore, bsc.stock_basics_industry as Industry,st.stock_Marktkap_rounded as MarketCapRounded,st.stock_waehrung as Currency,bsc.stock_basics_country as Country  from dbo.stock st
			LEFT OUTER JOIN dbo.basics bsc on st.ISIN = bsc.ISIN order by st.Id;

		COMMIT;
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spOnException]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOnException]
AS
SELECT 
    ERROR_NUMBER() AS ErrorNumber,
	ERROR_SEVERITY() AS ErrorSeverity,
	ERROR_STATE() AS ErrorState,
	ERROR_PROCEDURE() AS ErrorProcedure,
	ERROR_LINE() AS ErrorLine,
	ERROR_MESSAGE() AS ErrorMessage;
GO
/****** Object:  StoredProcedure [dbo].[spRegisterUser]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRegisterUser]
(
@UserName VARCHAR(40),
@UserPassword VARCHAR(50),
@UserEmail VARCHAR(40),
@UserCountry VARCHAR(300),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY

		BEGIN TRANSACTION
		IF NOT EXISTS(SELECT 1 from Users where user_mail = @UserEmail)
		BEGIN 
			INSERT INTO Users (reg_user_name,user_password,user_mail,user_reg_date,level_id,user_level_until,user_guided,user_country)
			VALUES(@UserName,@UserPassword,@UserEmail,GETDATE(),0,format(GETDATE(),'yyyyMMdd'),1,@UserCountry);
			SET @Return = 1;
		END
		ELSE 
		BEGIN
		  SET @Return = 2;
		END
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spResetPassword]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResetPassword]
(
@NewPassword VARCHAR(50),
@UserEmail VARCHAR(40),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
		IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail)
		BEGIN 
		    UPDATE Users set user_password = @NewPassword where user_mail = @UserEmail
			SET @Return = 1
		END
		ELSE 
		BEGIN
		  SET @Return = 2;
		END
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spSaveUserGoal]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSaveUserGoal]
(
@UserId VARCHAR(40),
@UserAnnualAsset NVARCHAR(max),
@UserLongTermGoal NVARCHAR(max),
@UserMotivationalGoal NVARCHAR(max),
@UserSavingRate NVARCHAR(max),
@UserSavingsVolume NVARCHAR(max),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
	Select * from goal

		BEGIN TRANSACTION
		IF NOT EXISTS(SELECT 1 from goal where user_id = @UserId)
		BEGIN 
			INSERT INTO goal (user_id,user_goal_date,user_goal_annualasset,user_goal_longterm,
			user_goal_motivationalgoal,user_goal_savingsrate,user_goal_savingsvolume,user_goal_desc)
			VALUES(@UserId,format(GETDATE(),'yyyyMMdd'),@UserAnnualAsset,@UserLongTermGoal,
			@UserMotivationalGoal,@UserSavingRate,@UserSavingsVolume,'Hope');
			SET @Return = 1;
		END
		ELSE 
		BEGIN
		  UPDATE goal SET  user_goal_date = format(GETDATE(),'yyyyMMdd'),
		                   user_goal_annualasset = @UserAnnualAsset,
						   user_goal_longterm = @UserLongTermGoal,
						   user_goal_motivationalgoal = @UserMotivationalGoal,
						   user_goal_savingsrate = @UserSavingRate,
					       user_goal_savingsvolume = @UserSavingsVolume
				where user_id = @UserId
		  SET @Return = 2;
		END
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spSigninUser]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSigninUser]
(
@UserPassword VARCHAR(50),
@UserEmail VARCHAR(40),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
		IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail)
		BEGIN 
			SET @Return = (Select 1 from Users WHERE  user_mail = @UserEmail AND user_password = @UserPassword)
		END
		ELSE 
		BEGIN
		  SET @Return = 2;
		END
		COMMIT;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	RETURN @Return
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spSingleStock]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSingleStock]
(
@ISIN VARCHAR(50)
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION


			Select st.stock_name as Name,st.ISIN as ISIN,ba.stock_basics_WKN as WKN,st.stock_waehrung as Currency,st.stock_score as SCORE,
			ba.stock_basics_industry as Industry,st.stock_Marktkap_rounded as Marketcap,st.stock_LJ as Lastannualreport,ba.stock_basics_quantity,
			ba.stock_basics_dividend,ba.stock_basics_performance_month, ba.stock_basics_performance_year,
			ba.stock_basics_description, ba.stock_basics_website,
			st.stock_RoE_LJ_percent,st.stock_EBIT_Marge_LJ_percent,st.stock_EK_Quote_LJ_percent,
			st.stock_KGV5,st.stock_KGV_akt,st.stock_Analystenanzahl,st.stock_Analystenmeinung,st.stock_Benchmark,
			st.stock_Entw6Mon_percent,st.stock_Entw1Jahr_percent,st.stock_Durchschnitt_EPS,st.stock_EPS_Steigerung_percent,
			st.stock_Punkte_RoE,st.stock_Punkte_EBIT_M,st.stock_Punkte_EK_Q,st.stock_Punkte_KGV5,st.stock_Punkte_KGVa,
			st.stock_Punkte_Analysten,st.stock_Punkte_Q_Zahlen,st.stock_Punkte_Revi,st.stock_Punkte_6_Mon,st.stock_Punkte_1_Jahr,
			st.stock_Punkte_3_Mon_Rev,st.stock_Punkte_Gew_Wachst
			from stock st inner join basics ba 
			on st.ISIN = ba.ISIN and st.ISIN = @ISIN

			--SELECT FORMAT(st.stock_score_date, '%Y-%m') AS Time, AVG(st.stock_score2) As AVG_Score FROM score_timeline st 
			--WHERE ISIN =  @ISIN GROUP BY st.stock_score_date

			
		COMMIT;
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spStockBookmark]    Script Date: 03-12-2020 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spStockBookmark]
(
@ISIN VARCHAR(50),
@UserId VARCHAR(40),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
	Select * from watch_stock
		BEGIN TRANSACTION
		IF EXISTS(SELECT 1 from watch_stock where user_id = @UserId and ISIN = @ISIN)
		BEGIN 
		    DELETE from watch_stock where user_id = @UserId and ISIN = @ISIN
			SET @Return = 0;
		END
		ELSE 
		BEGIN
			INSERT INTO watch_stock values(@UserId,@ISIN,GETDATE());
			SET @Return = 1;
		END 
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
USE [master]
GO
